.catalog__title {
    padding-top: 82px;
}

.catalog__text {
    max-width: 1082px;
    font-size: 16px;
    line-height: 32px;
}

.catalog__content {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 49px;
}

.catalog__author {
    display: block;
    position: absolute;
    left: -50rem;
}

.catalog__author-img,
.catalog__author {
    width: 741px;
}

.catalog__author img {
    width: 100%;
}

.catalog__author-active {
    position: relative;
    left: 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.catalog__author-name {
    display: block;
    font-size: 24px;
    font-weight: 600;
    padding-top: 26px;
    padding-bottom: 9px;
}

.catalog__author-date {
    display: block;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #999999;
}

.catalog__author-description {
    padding-top: 5px;
    font-size: 16px;
    line-height: 32px;
}

.catalog__list-item-date-p {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.open .catalog__list-item-date {
    color: #7943A4;
    border-top: 1px solid #7943A4;
    border-bottom: 1px solid #7943A4;
    background-position: center right;
    background-image: url('../img/acc-open.svg');
    background-repeat: no-repeat;
}

.open .ui-accordion-content-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog__list-item-date {
    height: 114px;
    border-top: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
    flex-basis: 49px;
    background-position: center right;
    background-image: url('../img/acc.svg');
    background-repeat: no-repeat;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.catalog__list-item-date,
.ui-accordion-header-active:hover,
.ui-accordion-header-active,
.open .catalog__list-item-date {
    background-size: 49px 49px;
}

.catalog__list-item-date:hover {
    color: #7943A4;
    border-top: 1px solid #7943A4;
    border-bottom: 1px solid #7943A4;
    background-image: url('../img/acc-hover.svg');
}

.ui-accordion-header-active:hover {
    background-image: url('../img/acc-open.svg');
}

.ui-accordion-header-active {
    color: #7943A4;
    border-top: 1px solid #7943A4;
    border-bottom: 1px solid #7943A4;
    background-image: url('../img/acc-open.svg');
}

.catalog__list-item-date:hover .catalog__list-item-date-p {
    color: #7943A4;
}

.open-acc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog__list-item-author__span {
    display: inline-block;
    white-space: nowrap;
    padding: 0 1px;
    font-size: 16px;
    line-height: 31px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.catalog__list-item-author__span:hover {
    color: #9D5CD0;
    border-bottom: 1px solid #9D5CD0;
}

.catalog__list-item-author__span:active,
.catalog__list-item-author__span:focus {
    color: #7943A4;
    border-bottom: 1px solid #fff;
}

.is-active {
    background-color: #7943A4;
    color: #fff;
}


.catalog__list-item-authors {
    padding: 25px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.catalog__list-item-author__names {
    display: block;
    width: 253px;
}

.catalog__list-item-empty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.catalog__list-item-unknown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 275px;
    height: 189px;
    padding: 12px;
    border: 2px solid #B7B7B7;
}

.catalog__list-item-unknown-inside {
    width: 251px;
    height: 165px;
    background-color: #B7B7B7;
}

.catalog__list-item-unknown-block {
    max-width: 294px;
    padding-left: 24px;
}

.catalog__list-item-unknown-title {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 5px;
}

.catalog__list-item-unknown-text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    padding-bottom: 5px;
}

.in-gallery-link {
    font-weight: 600;
    font-size: 16px;
    color: #9D5CD0;
}

.catalog__author-unknown-block-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 52px 76px 37px 76px;
    background: #ECECEC;
}

.catalog__author-unknown-painter {
    font-weight: 600;
    font-size: 24px;
    margin: auto;
    color: #666666;
}

.catalog__author-unknown-img {
    margin: auto;
}

.catalog__author-unknown-block-2 {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.catalog__author-unknown-name {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 15px;
    color: #333333;
}

.catalog__author-unknown-date {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 15px;
    color: #333333;
}

@media (max-width: 1660px) {
    .catalog__title {
        padding-top: 62px;
    }

    .catalog__content {
        padding-top: 30px;
    }

    .catalog__list-item-author__names {
        width: 191px;
    }

    .catalog__text {
        max-width: 807px;
        font-size: 12px;
        line-height: 24px;
    }

    .catalog__author,
    .catalog__author-img {
        width: 562px;
    }

    .catalog__author-name,
    .catalog__author-unknown-name {
        font-size: 18px;
        padding-top: 19px;
        padding-bottom: 3px;
    }

    .catalog__author-date,
    .catalog__author-unknown-date {
        font-size: 9px;
    }

    .in-gallery-link {
        font-size: 13px;
    }

    .catalog__author-description {
        padding-top: 2px;
        font-size: 12px;
        line-height: 24px;
    }

    .catalog__list {
        padding-left: 38px;
    }

    .catalog__list-item-date-p {
        font-size: 18px;
    }

    .catalog__list-item-date {
        height: 87px;
    }

    .catalog__list-item-date {
        color: #7943A4;
        border-top: 1px solid #7943A4;
        border-bottom: 1px solid #7943A4;
    }

    .catalog__list-item-date,
    .ui-accordion-header-active:hover,
    .ui-accordion-header-active,
    .open .catalog__list-item-date {
        background-size: 38px 38px;
    }

    .catalog__list-item-authors {
        padding: 22px 0px;
    }

    .catalog__list-item-author__span {
        font-size: 12px;
        line-height: 23px;
    }

    .catalog__author-unknown-painter {
        font-weight: 600;
        font-size: 19px;
    }

    .catalog__author-unknown-block-2 {
        padding-top: 13px;
    }
}

@media (max-width: 1300px) {
    .catalog__title {
        padding-top: 53px;
    }

    .catalog__text {
        max-width: 717px;
        font-size: 10.5px;
        line-height: 21px;
    }

    .catalog__content {
        padding-top: 25px;
    }

    .catalog__author,
    .catalog__author-img {
        width: 488px;
    }

    .catalog__author-name,
    .catalog__author-unknown-name {
        font-size: 16px;
        padding-top: 15px;
    }

    .catalog__author-date,
    .catalog__author-unknown-date {
        font-size: 8px;
    }

    .catalog__author-description {
        padding-top: 2px;
        font-size: 10.5px;
        line-height: 21px;
    }

    .catalog__list-item-date-p {
        font-size: 15px;
    }

    .catalog__list {
        padding-left: 34px;
    }

    .catalog__list-item-date {
        height: 75px;
    }

    .catalog__list-item-authors {
        padding: 17px 0px;
    }

    .catalog__list-item-author__span {
        font-size: 10px;
        line-height: 20px;
    }

    .catalog__list-item-author__names {
        width: 165px;
    }

    .catalog__list-item-date,
    .ui-accordion-header-active:hover,
    .ui-accordion-header-active,
    .open .catalog__list-item-date {
        background-size: 33px 33px;
    }

    .catalog__author-unknown-date {
        padding-bottom: 4px;
    }
}

@media (max-width: 1100px) {
    .catalog__title {
        padding-top: 80px;
    }

    .catalog__text {
        max-width: 100%;
        font-size: 16px;
        line-height: 32px;
    }

    .catalog__content {
        padding-top: 39px;
    }

    .catalog__list-item-author__names {
        width: 216px;
    }

    .catalog__author,
    .catalog__author-img {
        width: 437px;
    }

    .catalog__author-name,
    .catalog__author-unknown-name {
        font-size: 24px;
        padding-top: 25px;
        padding-bottom: 8px;
    }

    .catalog__author-date,
    .catalog__author-unknown-date {
        font-size: 12px;
    }

    .catalog__author-description {
        padding-top: 7px;
        font-size: 16px;
        line-height: 32px;
    }

    .catalog__list {
        padding-left: 50px;
    }

    .catalog__list-item-date-p {
        font-size: 24px;
    }

    .catalog__list-item-date {
        height: 115px;
    }

    .catalog__list-item-date,
    .ui-accordion-header-active:hover,
    .ui-accordion-header-active,
    .open .catalog__list-item-date {
        background-size: 49px 49px;
    }

    .catalog__list-item-authors {
        padding: 29px 0px;
    }

    .catalog__list-item-author__span {
        font-size: 16px;
        line-height: 31px;
    }
}

@media (max-width: 990px) {
    .catalog__content {
        padding-top: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .catalog__list {
        padding-left: 0;
    }

    .catalog__author {
        margin-top: 50px;
    }

    .catalog__author,
    .catalog__author-img {
        width: 100%;
    }

    .catalog__author-date,
    .catalog__author-unknown-date {
        font-size: 15px;
    }

    .in-gallery-link {
        font-size: 16px;
    }
}

@media (max-width: 640px) {
    .catalog .catalog__title {
        padding-top: 50px;
    }

    .catalog__text {
        display: none;
    }

    .catalog__list-item-date-p {
        font-size: 18px;
    }

    .catalog__list-item-date {
        height: 72px;
    }

    .catalog__content {
        padding-top: 2px;
    }

    .catalog__list-item-date,
    .ui-accordion-header-active:hover,
    .ui-accordion-header-active,
    .open .catalog__list-item-date {
        background-size: 31px 31px;
    }

    .catalog__list-item-authors {
        padding: 22px 0px;
    }
    
}