.gallery {
    background: url('../img/galery-back.png') 0 0 / 100% no-repeat;
    color: #fff;
}

.gallery__title {
    padding-top: 81px;
}

.gallery__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.gallery__block-1 {
    width: 397px;
    z-index: 20;
}

.gallery__block-filter-span {
    display: block;
    padding-bottom: 13px;
    font-size: 18px;
}

.gallery__block-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    margin-bottom: 181px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* checkbox */

.gallery__block-check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

label {
    font-size: 16px;
    color: #fff;
    white-space: nowrap;
}

.gallery__block-check {
    position: relative;
}

.gallery__checkbox {
    opacity: 0;
    z-index: -1;
}

.gallery__checkbox+label {
    display: inline-flex;
    align-items: center;
    position: absolute;
    user-select: none;
    cursor: pointer;
    left: 0;
}

.gallery__checkbox+label::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #999999;
    margin-right: 11px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
}

.gallery__checkbox:checked+label::before {
    border: 1px solid #C283F3;
    background-image: url("../img/checked.svg");
}

.gallery__checkbox:checked+label {
    color: #C283F3;
}


/* checkbox */

.gallery__block-2 {
    width: 1133px;
    position: relative;
}

.gallery__check-el {
    margin-bottom: 10px;
}

.choices {
    height: auto;
    border-radius: 6px;
}

.choices__list--dropdown {
    color: #999;
    background-color: transparent;
    border-radius: 6px;
}

.choices__list--dropdown #choices--m0pf-item-choice-1:hover,
#choices--m0pf-item-choice-2:hover,
#choices--m0pf-item-choice-3:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.is-open .choices,
.choices[aria-expanded='true'] {
    border-radius: 6px;
}

.is-focused {
    border-radius: 6px;
}

.choices__inner {
    min-height: auto;
    font-size: 16px;
    background-color: unset;
    padding: 4px 10px 3px 11px;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.choices__inner:hover,
.choices__list[aria-expanded] .choices__item[aria-selected="false"]:hover {
    background: rgba(255, 255, 255, 0.2);
}

.choices__item--choice:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2) !important;
}

.is-open .choices__inner {
    z-index: 99;
    border-radius: 6px;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
    border-top: unset;
    margin-top: 0;
    border-radius: 6px;
}

.choices--qx1p-item-choice-1 {
    border-bottom: 1px solid #fff;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted,
.choices__list--dropdown,
.choices__list[aria-expanded] {
    background-color: unset;
}

.choices__list--dropdown {
    border: 1px solid #999999;
}

.choices__item {
    padding-right: 0 !important;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
    font-size: 16px;
    border-bottom: 1px solid #fff;
    padding-left: 20px;
}

.choices__item--choice::placeholder {
    color: #333;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 4px;
}

.is-selected {
    display: none;
}

.choices[data-type*="select-one"]::after {
    content: '';
    width: 12px;
    height: 7px;
    background: url('../img/selected.svg') right center / cover no-repeat;
    border-style: none;
    border-color: #333 transparent transparent;
    border-width: 0;
    position: absolute;
    right: 11.5px;
    top: 50%;
    margin-top: -2.5px;
    pointer-events: none;
}

.choices[data-type*="select-one"].is-open::after {
    margin-top: -3px;
    background: url('../img/selected-active.svg') right center / cover no-repeat;
}


/* slider */

.gallery__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gallery .swiper {
    z-index: 1;
    padding-top: 5px;
}

.gallery .swiper-button-next,
.gallery .swiper-button-prev {
    top: -10%;
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.gallery .swiper-button-next {
    left: 9%;
    background: url('../img/slider-next.svg') 0 0 / cover no-repeat;
}

.gallery .swiper-button-prev {
    left: 3px;
    background: url('../img/slider-prev.svg') 0 0 / cover no-repeat;
}

.gallery .swiper-button-next:after,
.gallery .swiper-button-prev:after {
    font-size: 0;
}

.gallery .swiper-button-next:hover {
    background: url('../img/slider-next-hover.svg') 0 0 / cover no-repeat;
}

.gallery .swiper-button-prev:hover {
    background: url('../img/slider-prev-hover.svg') 0 0 / cover no-repeat;
}

.gallery .swiper-button-next:active {
    background: url('../img/slider-next-active.svg') 0 0 / cover no-repeat;
}

.gallery .swiper-button-prev:active {
    background: url('../img/slider-prev-active.svg') 0 0 / cover no-repeat;
}

.gallery .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 36px;
    top: -15%;
    justify-content: space-between;
    left: 3rem;
}

.gallery__slider-card {
    position: relative;
    cursor: pointer;
}

.galery-hover {
    position: absolute;
    display: block;
    width: 86%;
    height: 86%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0.5rem;
    right: 0;
    opacity: 0;
}

.gallery__slider-card:hover .galery-hover {
    opacity: 1;
}

/* .gallery__slider-card:active .gallery__slider-card: {
    background-color: #C283F3;
} */

.gallery__slider-card-active {}

.popup-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 200rem;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999999;
}

.popup-open {
    top: 0;
}

.popup-gallery-content {
    position: relative;
    width: 47%;
    height: 46%;
    display: -webkit-box;
    display: -ms-flexbox;
    margin: 0 auto;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
}

.popup-gallery-description {
    padding: 0 50px;
    text-align: left;
    height: 50%;
}

.popup-gallery-title {
    font-size: 24px;
    font-weight: 600;
}

.popup-gallery span {
    display: block;
}

.popup-gallery-name {
    font-size: 16px;
    font-weight: 600;
}

.popup-gallery-date {
    font-size: 12px;
    color: #969696;
}

.popup-gallery-p {
    margin-top: 50px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #333;
}

.popup-close {
    position: absolute;
    border: unset;
    top: 20px;
    right: 20px;
    width: 21px;
    height: 21px;
    background: url('../img/popup-close.svg') 0 0 / 100% no-repeat;
}

@media (max-width: 1660px) {
    .gallery__title {
        padding-top: 59px;
    }

    .gallery__block-1 {
        width: 301px;
    }

    .gallery__block-filter-span {
        padding-bottom: 9px;
        font-size: 13px;
    }

    .choices__inner,
    .choices__list--dropdown .choices__item,
    .choices__list[aria-expanded] .choices__item {
        font-size: 11px;
    }

    .choices__list--dropdown .choices__item,
    .choices__list[aria-expanded] .choices__item {
        padding-left: 15px;
    }

    .gallery__block-filter {
        margin-bottom: 131px;
    }

    .gallery__checkbox+label::before {
        width: 9px;
        height: 9px;
        margin-right: 9px;
    }

    label {
        font-size: 12px;
    }

    .gallery__check-el {
        margin-bottom: 3px;
    }

    .choices[data-type*="select-one"]::after {
        width: 9px;
        height: 5px;
    }

    .gallery__block-2 {
        width: 863px;
    }

    .gallery .swiper-button-next,
    .gallery .swiper-button-prev {
        top: -8%;
        width: 22px;
        height: 22px;
    }

    .gallery .swiper-pagination {
        font-size: 14px;
    }

    .gallery .swiper-pagination {
        font-size: 13px;
        width: 25px;
        left: 38px;
    }

    .popup-gallery-content img {
        height: 100%;
    }

    .popup-gallery-content {
        height: 52%;
    }

    .popup-gallery-p {
        margin-top: 22px;
        font-size: 14px;
        line-height: 28px;
    }

    .popup-gallery-title {
        font-size: 22px;
    }

    .popup-gallery-name {
        font-size: 14px;
    }

    .popup-gallery-date {
        font-size: 10px;
    }
}

@media (max-width: 1300px) {
    .gallery__title {
        padding-top: 51px;
    }

    .gallery__block-filter-span {
        padding-bottom: 8px;
        font-size: 11px;
    }

    .gallery__block-1 {
        width: 261px;
    }

    .gallery__block-2 {
        width: 749px;
    }

    .choices__inner,
    .choices__list--dropdown .choices__item,
    .choices__list[aria-expanded] .choices__item {
        font-size: 10px;
    }

    .choices__inner {
        padding: 1px 10px 1px 6px;
    }

    .choices__list--dropdown .choices__item,
    .choices__list[aria-expanded] .choices__item {
        padding: 7px 7px 7px 12px;
    }

    .gallery__block-filter {
        margin-bottom: 114px;
    }

    label {
        font-size: 10px;
    }

    .gallery__check-el {
        margin-bottom: 0px;
    }

    .gallery .swiper-pagination {
        top: -14%;
        font-size: 11px;
        width: 22px;
        left: 34px;
    }

    .gallery .swiper-button-next,
    .gallery .swiper-button-prev {
        top: -6%;
        width: 20px;
        height: 20px;
    }

    .gallery__checkbox+label::before {
        background-size: 45%;
    }

    .gallery__slider-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .popup-gallery-content {
        width: 63%;
        height: 57%;
    }
}

@media (max-width: 1100px) {
    .gallery__title {
        padding-top: 81px;
    }

    .gallery__block-filter-span {
        padding-bottom: 13px;
        font-size: 17px;
    }

    .choices__inner,
    .choices__list--dropdown .choices__item,
    .choices__list[aria-expanded] .choices__item {
        font-size: 16px;
    }

    .choices__inner {
        padding: 3px 10px 1px 11px;
    }

    .gallery__block-1 {
        width: 280px;
    }

    .gallery__block-2 {
        width: 594px;
    }

    .gallery__checkbox+label::before {
        width: 12px;
        height: 12px;
        margin-right: 11px;
    }

    label {
        font-size: 15px;
    }

    .gallery__check-el {
        margin-bottom: 9px;
    }

    .gallery__content {
        padding-bottom: 10px;
    }

    .gallery {
        background: url("../img/galery-back.png") 0 0 / cover no-repeat;
    }

    .gallery .swiper-pagination {
        top: -16%;
        font-size: 16px;
        width: 33px;
        left: 49px;
    }

    .gallery .swiper-button-next,
    .gallery .swiper-button-prev {
        top: -11%;
        width: 31px;
        height: 31px;
    }

    .gallery .swiper-button-next {
        left: 17%;
    }

    .gallery .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery__block-check {
        position: relative;
        padding-bottom: 31px;
    }
}

@media (max-width: 990px) {

    .choices__list--dropdown .choices__item--selectable.is-highlighted,
    .choices__list[aria-expanded] .choices__item--selectable.is-highlighted,
    .choices__list--dropdown,
    .choices__list[aria-expanded] {
        background-color: rgba(0, 0, 0, 0.9);
    }

    .gallery__slider-card:hover .galery-hover {
        opacity: 0;
    }

    .gallery__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .gallery__block-1 {
        margin-bottom: 60px;
    }

    .gallery__block-filter {
        margin-bottom: 48px;
    }

    .gallery__block-2 {
        width: 100%;
        height: 335px;
    }

    .gallery .swiper-button-next {
        left: 15%;
    }

    .gallery .swiper-button-next,
    .gallery .swiper-button-prev {
        top: -10%;
        width: 29px;
        height: 29px;
    }

    .gallery .swiper-button-prev {
        left: 1px;
    }

    .gallery .swiper-pagination {
        top: -15%;
    }

    .gallery__block-1 {
        width: 100%;
    }

    .popup-gallery-content {
        width: 85%;
    }

    .popup-gallery-description {
        padding: 0 25px;
    }
}

@media (max-width: 640px) {
    .gallery__title {
        padding-top: 51px;
    }

    .gallery__block-filter-span {
        font-size: 16px;
    }

    .gallery__block-filter {
        margin-bottom: 34px;
    }

    .gallery__check-el {
        margin-bottom: 11px;
    }

    .gallery__block-check {
        padding-bottom: 17px;
    }

    .gallery__block-1 {
        margin-bottom: 0px;
    }

    .gallery__block-2 {
        height: 373px;
    }

    .gallery__content {
        padding-bottom: 59px;
    }

    .gallery .swiper-pagination {
        top: unset;
        bottom: -12%;
        left: 47%;
    }

    .gallery .swiper-button-prev {
        left: 38%;
    }

    .gallery .swiper-button-next,
    .gallery .swiper-button-prev {
        top: 111%;
    }

    .gallery .swiper-button-next {
        left: 58%;
    }

    .popup-gallery-content img {
        min-width: 50%;
    }
}

@media (max-width: 480px) {
    .gallery .swiper-pagination {
        left: 45%;
    }

    .gallery .swiper-button-next {
        left: 63%;
    }

    .gallery .swiper-button-prev {
        left: 30%;
    }

    .popup-gallery {
        align-items: unset;
    }

    .popup-gallery-content {
        overflow-y: auto;
        margin-top: 25px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 95%;
        width: 90%;
    }

    .popup-gallery-content img {
        min-width: 100%;
    }

    .popup-gallery-p {
        margin-top: 10px;
    }

    .popup-gallery-title {
        margin-top: 12px;
    }
}

@media (max-width: 320px) {
    .gallery .swiper-button-next {
        left: 62%;
    }

    .gallery .swiper-button-prev {
        left: 28%;
    }

    .gallery .swiper-pagination {
        left: 44%;
    }
}