.swiper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.hero {
    position: relative;
}

.hero__container-1 {
    background: url("../img/birmingham-museums-trust.png") 0 0 / cover no-repeat;
}

.hero__container-2 {
    background: url("../img/birmingham-museums-trust-2.png") 0 0 / cover no-repeat;
}

.hero__container-3 {
    background: url("../img/birmingham-museums-trust-3.png") 0 0 / cover no-repeat;
}

.hero__content {
    max-width: 601px;
    padding-top: 138px;
    padding-bottom: 120px;
    z-index: 99999;
}

.hero__title {
    font-size: 72px;
    font-weight: 700;
    line-height: 83px;
    color: #fff;
}

.hero__p {
    font-size: 18px;
    font-weight: 700;
    padding-top: 17px;
    padding-bottom: 92px;
    color: #fff;
    line-height: 30px;
}

.hero__btn {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 20px 35px;
    border-radius: 100px;
    border: unset;
    color: #fff;
    background-color: #9D5CD0;
    /* border: 3px solid #9D5CD0; */
}

/* .bg-focus:before,
.outline-focus:before {
    content: "";
    position: absolute;
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
    background-color: var(--purpleMedium);
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
} */

/* .outline-focus:before {
    background-color: transparent;
    border: 3px solid var(--purpleMedium);
    border-radius: 100px;
} */

.outline-focus {
    background-color: var(--purpleMedium);
    border: 3px solid var(--purpleMedium);
    border-radius: 100px;
}

.bg-focus:focus-visible:before,
.outline-focus:focus-visible:before {
    opacity: 1;
}

.outline-focus:hover:not(:focus-visible) {
    background-color: var(--purpleMedium);
    border: 3px solid var(--purpleLight);
}

.outline-focus:active:not(:focus-visible),
.outline-focus.btn-active:active {
    background-color: var(--purpleDark);
    border: 3px solid var(--purpleLight);
}

@media (max-width: 1660px) {
    .hero__content {
        max-width: 437px;
        padding-top: 100px;
        padding-bottom: 87px;
    }

    .hero__title {
        font-size: 54px;
        line-height: 65px;
    }

    .hero__p {
        font-size: 13px;
        padding-top: 14px;
        padding-bottom: 69px;
        line-height: 22px;
    }

    .hero__btn {
        font-size: 14px;
        line-height: 24px;
        padding: 13px 23px;
    }
}

@media (max-width: 1300px) {
    .hero__content {
        max-width: 375px;
        padding-top: 91px;
        padding-bottom: 79px;
    }

    .hero__title {
        font-size: 47px;
        line-height: 53px;
    }

    .hero__p {
        font-size: 12px;
        padding-bottom: 61px;
        line-height: 19px;
    }

    .hero__btn {
        font-size: 12px;
        padding: 8px 21px;
    }
}

@media (max-width: 1100px) {
    .hero__title {
        width: 600px;
        font-size: 73px;
        line-height: 88px;
    }

    .hero__content {
        max-width: 100%;
        padding-top: 107px;
        padding-bottom: 114px;
    }

    .hero__p {
        font-size: 18px;
        line-height: 29px;
        width: 700px;
        padding-top: 9px;
        padding-bottom: 134px;
    }

    .hero__btn {
        font-size: 18px;
        padding: 20px 34px;
    }
}

@media (max-width: 640px) {

    .hero__content {
        width: 92%;
        margin: 0 auto;
        padding-top: 34px;
        text-align: center;
        padding-bottom: 45px;
    }

    .hero__title {
        width: 100%;
        font-size: 32px;
        line-height: 38px;
    }

    .hero__p {
        font-size: 11px;
        line-height: 16px;
        width: 100%;
        padding-bottom: 45px;
    }

    .hero__btn {
        font-size: 12px;
        padding: 4px 21px;
    }
}